/* Responsive */
@media (max-width: 1024px) {
    .header-name {
        font-size: 3.4rem;
    }
    .answer-question {
        flex-direction: column;
        gap: 15px;
    }
    .btn {
        width: 180px;
    }
  }
  
  @media (max-width: 768px) {
    .header-name {
        font-size: 3rem;
    }
    .header-description {
        font-size: 1.8rem;
    }
    .answer-question {
        flex-direction: column;
        gap: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .header-name {
        font-size: 2.5rem;
    }
    .header-description {
        font-size: 1.6rem;
    }
    .btn {
        width: 150px;
        font-size: 1.4rem;
    }
  }
  